@import url('./home.css');

#article-list {
    grid-column: 3 / 11;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    margin-top: 1em;
}

.article-card {
    width: 45%;
    text-decoration: none;
}

.article-card img {
    border-radius: 5px;
}

.article-card h6 {
    color: black;
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
}

@media (orientation: portrait) {
    #article-list {
        grid-column: 1 / 7;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .article-card {
        width: 95vw;
    }
}