@import url('./article-list.css');

body {
    background-color: var(--primary-background-color);
}

#page-numbers {
    grid-column: 4 / 10;
}

@media (orientation: portrait) {
    #page-numbers {
        grid-column: 1 / 7;
    }
}