@import url('base.css');

h1 {
    grid-column: 1 / 13;
    text-align: center;
    color: var(--primary);
    margin-top: 2em;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
        margin-top: 1em;
    }
}