@import url('base.css');

body {
    background-color: var(--primary-background-color);
}

h1 {
    grid-column: 1 / 13;
    text-align: center;
    color: var(--primary);
    margin-top: 2em;
}

h2 {
    grid-column: 1 / 13;
    color: var(--primary);
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

#cover-image {
    grid-column: 1 / 13;
    width: 100%;
    height: auto;
}

#square-logo {
    grid-column: 2 / 5;
    width: 100%;
    height: auto;
}

#about-segment {
    grid-column: 6 / 12;
    margin-top: 2em;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
        margin-top: 1em;
    }

    h2 {
        grid-column: 1 / 7;
        margin-bottom: 1em;
    }

    #cover-image {
        grid-column: 1 / 7;
    }

    #square-logo {
        grid-column: 2 / 6;
    }

    #about-segment {
        grid-column: 1 / 7;
        margin-left: 1em;
        margin-right: 1em;
    }
}