@import url('./base.css');

body {
    background-color: var(--primary-background-color);
}

h1 {
    grid-column: 1 / 13;
    text-align: center;
    margin-top: 1em;
    color: var(--primary);
}

p {
    grid-column: 4 / 10;
    margin-top: 1.5em;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }

    p {
        grid-column: 1 / 7;
    }
}