@import url(./home.css);

h1 {
    text-align: center;
    color: var(--primary);
    margin-top: 10vh;
}

p {
    font-size: 1.3em;
}

.render {
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.render.hide {
    display: none;
}

.render h1 {
    color: white;
    /* border: 1px solid gold; */

    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

picture {
    grid-column: 1 / 13;
    margin-top: 5vh;
}

#description {
    color: white;
    text-align: center;
    /* border: 1px solid red; */

    position: absolute;
    top: 43vh;
    left: 20vw;
    width: 60vw;
    height: 20vh;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

#publish-date {
    display: flex;
    color: #737373;
    grid-column: 3 / 7;
    gap: 10px;
    margin-top: 2em;
    font-size: 16px;
    align-items: center;
}

#publish-date img {
    height: 1.2em;
}

article {
    grid-column: 4 / 10;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }

    .render {
        grid-column: 1 / 7;
    
        grid-template-columns: repeat(6, 1fr);
    }

    picture {
        grid-column: 1 / 7;
    }

    .render h1 {
        top: 5vh;
        left: 5vw;
        height: 17vh;
        width: 90vw;
        font-size: 1.5em;
        font-weight: 400;
    }

    #description {
        top: 35vh;
        left: 5vw;
        height: 20vh;
        width: 90vw;
    }

    #publish-date {
        grid-column: 1 / 7;
        margin-left: 2em;
    }
}