@import url(./home.css);

h1 {
    text-align: center;
    color: var(--primary);
    margin-top: 10vh;
}

p {
    font-size: 1.3em;
}

.render {
    grid-column: 4 / 10;
}

.render h1 {
    color: white;
    margin-top: 20vh;
}

picture {
    position: absolute;
    top: 6vh;
    left: 0;
    z-index: -1;
}

#description {
    color: white;
    margin-top: 3em;
    text-align: center;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }

    .render {
        grid-column: 1 / 7;
    }

    picture {
        top: 7vh;
    }

    .render h1 {
        margin-top: 15vh;
    }

    #description {
        margin-top: 1.5em;
    }
}