@import url('../base.css');

h1 {
    color: var(--primary);
    grid-column: 1 / 13;
    text-align: center;
    margin-top: .5em;
}

#menu {
    grid-column: 4 / 10;
    display: flex;
    flex-direction: column;
}

#menu a, 
#menu button {
    border: 1px solid grey;
    display: inline-block;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    color: var(--primary);
}

#menu button {
    background-color: white;
    font-family: 'Jost', sans-serif;
}

#menu button:active {
    background-color: var(--active-color);
}

#modal {
    z-index: 1;
    background-color: var(--active-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .7;
}

#render-success-slider {
    background-color: lightgreen;
    color: var(--primary);
} 

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }

    #menu {
        grid-column: 1 / 7;
        padding: 1em;
    }
}