@import url('../base.css');

h1 {
    grid-column: 1 / 13;
    text-align: center;
    margin-top: .5em;
    color: var(--primary);
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }
}