@import url('../render.css');

#check-preview, #exit-preview {
    color: white;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
}

#exit-preview {
    z-index: 3;
}

#upload-parent-container {
    grid-column: 3 / 11;
    font-size: 1.2em;
    margin-bottom: 1em;
}

form {
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 3em;
}

input {
    font-size: 1em;
    height: 2em;
}

input, textarea {
    width: 100%;
}

label {
    margin-top: 2em;
}

button[type='submit'] {
    margin-top: 1em;
    color: white;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.1em;
    height: 2em;
}

textarea {
    height: 100vh;
    font-size: 1.1em;
}

select {
    font-size: 1em;
}

@media (orientation: portrait) {
    #upload-parent-container {
        grid-column: 1 / 7;
    }

    #check-preview, #exit-preview {
        height: 7vh;
    }
}