@import url('../home.css');

h1 {
    grid-column: 1 / 13;
    text-align: center;
    color: var(--primary);
    margin-top: 7vh;
}

#check-preview, #exit-preview {
    color: white;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
}

form {
    grid-column: 3 / 11;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.2em;
    margin-bottom: 1em;
}

input {
    font-size: 1em;
    height: 2em;
}

input, textarea {
    width: 100%;
}

label {
    margin-top: 1em;
}

input[type='submit'] {
    margin-top: 1em;
    color: white;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 1.1em;
    height: 2em;
}

textarea {
    height: 100vh;
    font-size: 1.1em;
}

select {
    font-size: 1em;
}

#preview {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }

    form {
        grid-column: 1 / 7;
    }

    #check-preview, #exit-preview {
        height: 6vh;
    }
}